[submodule "bulletproof-backups"]
	path = bulletproof-backups
	url = https://github.com/fleschutz/bulletproof-backups
[submodule "CWTS"]
	path = CWTS
	url = https://github.com/fleschutz/CWTS
[submodule "GitHub-News"]
	path = GitHub-News
	url = https://github.com/fleschutz/GitHub-News
[submodule "base256U"]
	path = base256U
	url = https://github.com/fleschutz/base256U
[submodule "LSS"]
	path = LSS
	url = https://github.com/fleschutz/LSS
[submodule "csv2hpp"]
	path = csv2hpp
	url = https://github.com/fleschutz/csv2hpp
[submodule "libSI"]
	path = libSI
	url = https://github.com/fleschutz/libSI
