[submodule "bulletproof-backups"]
	path = bulletproof-backups
	url = https://github.com/fleschutz/bulletproof-backups
[submodule "CWTS"]
	path = CWTS
	url = https://github.com/fleschutz/CWTS
[submodule "GitHub-News"]
	path = GitHub-News
	url = https://github.com/fleschutz/GitHub-News
